In [4]:
import pandas as pd

df = pd.read_csv('../../data/house.csv')
df.head(10)

   longitude  latitude  housing_median_age  total_rooms  ...  population  households  median_income  median_house_value
0    -114.31     34.19                  15         5612  ...        1015         472         1.4936               66900
1    -114.47     34.40                  19         7650  ...        1129         463         1.8200               80100
2    -114.56     33.69                  17          720  ...         333         117         1.6509               85700
3    -114.57     33.64                  14         1501  ...         515         226         3.1917               73400
4    -114.57     33.57                  20         1454  ...         624         262         1.9250               65500
5    -114.58     33.63                  29         1387  ...         671         239         3.3438               74000
6    -114.58     33.61                  25         2907  ...        1841         633         2.6768               82400
7    -114.59     34.83                  41          812  ...         375         158         1.7083               48500
8    -114.59     33.61                  34         4789  ...        3134        1056         2.1782               58400
9    -114.60     34.83                  46         1497  ...         787         271         2.1908               48100

[10 rows x 9 columns]

In [5]:
X = df.drop('median_house_value', axis = 1)
y = df.median_house_value

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = model.predict(X_test)
print('房价的真值（测试集）', y_test)
print('预测的房价（测试集）', y_pred)
print('给预测评分：', model.score(X_test, y_test))

房价的真值（测试集） 3873     171400
3625     189600
3028     500001
13814    229400
15398    163400
          ...
1363     212500
7947     210500
14574    142900
10009    128300
9149      84700
Name: median_house_value, Length: 3400, dtype: int64
预测的房价（测试集） [211157.06335418 218581.64298574 465317.31295564 ... 201751.2396963
 160873.51846958 138847.26913352]
给预测评分： 0.6321014171579453